@import "tailwindcss";

@theme {
    --color-neon-green: #39FF14;
    --color-neon-red: #FF3131;
    --color-neon-blue: #00FFFF;
    --color-terminal-black: #050505;
}

body {
    background-color: var(--color-terminal-black);
    color: #e5e7eb;
    font-family: 'Courier New', Courier, monospace;
    /* Terminal vibe */
}

.glass {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.glow-green {
    box-shadow: 0 0 15px rgba(57, 255, 20, 0.3);
}

.glow-red {
    box-shadow: 0 0 15px rgba(255, 49, 49, 0.3);
}

@tailwind components;
@tailwind utilities;